<h1>Listing magazines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Issue no</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @magazines.each do |magazine| %>
  <tr>
    <td><%= magazine.name %></td>
    <td><%= magazine.issue_no %></td>
    <td><%= magazine.year %></td>
    <td><%= link_to 'Show', magazine %></td>
    <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
    <td><%= link_to 'Destroy', magazine, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Magazine', new_magazine_path %>
